p {
    font-size: 17px;
}
body, p, h1, h2, h3, h4, h5, h6 {
    font-family: Noto, Hiragino Sans,Helvetica,Arial,sans-serif;
    text-rendering: optimizeLegibility;
    background: transparent;
    -webkit-font-smoothing: antialiased;
    line-height: 2;
}