
<!-- fontawesomeのlink -->
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

<!-- fontawesomeのチェックマーク -->
<p><i class="fa fa-check" aria-hidden="true"></i></p>
<!-- チェックマークの例 -->
<p style="font-size: 24px;"><i class="fa fa-check" aria-hidden="true" style="color: #6C9FCE;"></i>本記事の目次</p>

<!-- 目次の囲い -->
<ul style="background-color: #f8f9ff; border: dashed 1px #4865b2;">

<!-- 小見出しh2 -->
<h2 style="border-left: 9px solid #4865b2; background: #f7f7f7; padding: 20px 15px 18px; padding-right: 40px; padding-left: 40px;">光触媒とは?</h2>


