{% load static %}

<aside class="col-md-4">
  <div class="p-4 mb-3 rounded text-center" style="background-color: #fff;">
    <h3 class="font-italic mb-3">どんぐり横丁</h3>
      <img src="{% static 'home/profile.jpg' %}" alt="" style="height: 180px; width: 180px; border-radius: 50%;">
      <h5 class="mt-3">理系大学の4年生で化学を専攻</h5>
      <h5 class="mb-2">研究テーマは光触媒を用いた<br>水分解水素生成</h5>
      <h5>化学系を中心に情報発信中</p>

  </div>

  <!-- 最近の記事 -->
  <div class="p-4 mb-3" style="background-color: #fff;">
    <h4 class="font-italic">最近の記事</h4>
    <ol class="list-unstyled mb-0">
        {% for r in recent_post %}
        <li><a href="{% url 'post:detail' r.id %}">{{r.title}}</a></li>
        {% endfor %}
    </ol>
  </div>

  <div class="p-4" style="background-color: #fff;">
    <h4 class="font-italic">SNS</h4>
    <ol class="list-unstyled">
      <li><a href="https://twitter.com/@pP516kC1MSFzA82" target="_blank">Twitter</a></li>
    </ol>
  </div>
</aside>
